<% provide(:title, "Glyphs") %>
<% provide(:bodyTags, ", onclick=unhighlightGlyphs()") %>
<%= javascript_include_tag 'glyphs_highlighter'%>

<h1 class="glyphSectionHead">The Long Count</h1>
<div class="glyphSet">
    <%= get_glyph_set(["kin", "winal", "tun", "katun", "baktun"], 'longcount')%>
</div>

<h1 class="glyphSectionHead">The Tzolk'in</h1>
<div class="glyphSet">
    <%= get_glyph_set(MayanDate.TZOLKIN_VEINTENAS, 'tzolkin')%>
</div>

<h1 class="glyphSectionHead">The Haab'</h1>
<div class="glyphSet">
    <%= get_glyph_set(MayanDate.HAAB_MONTHS, 'haab')%>
</div>

<h1 class="glyphSectionHead">The Supplementary Series</h1>
<div class="glyphSet">
    <%= get_glyph_set((1..9).to_a.collect{|x| "G#{x}"}, 'supplementary')%>
</div>



<script>
    var prevGlyph = undefined;
    var prevFactoid = undefined;
    highlightGlyph(document.getElementById("glyph_<%=@selectedGlyph%>"));
</script>

