<% provide(:title, "Glyphs") %>

<h1 class="glyphSectionHead">The Long Count</h1>
<div class="glyphSet">
    <%= get_glyph_set(["kin", "winal", "tun", "katun", "baktun"], 'longcount')%>
</div>

<h1 class="glyphSectionHead">The Tzolk'in</h1>
<div class="glyphSet">
    <%= get_glyph_set(MayanDate.TZOLKIN_VEINTENAS, 'tzolkin')%>
</div>

<h1 class="glyphSectionHead">The Haab'</h1>
<div class="glyphSet">
    <%= get_glyph_set(MayanDate.HAAB_MONTHS, 'haab')%>
</div>

<h1 class="glyphSectionHead">The Supplementary Series</h1>
<div class="glyphSet">
    <%= get_glyph_set((1..9).to_a.collect{|x| "G#{x}"}, 'supplementary')%>
</div>


<script>
    // Didn't want to deal with "manifests", etc. for a few lines of trivial code

    // set the previously highlighted thing to either the referenced glyph from homepage or something meaningless
    var prevGlyph = <%= raw (@selectedGlyph.nil?) ? "undefined" : "document.getElementById(\"glyph_#{@selectedGlyph}\")" %>
    var prevFactoid = <%= raw (@selectedGlyph.nil?) ? "undefined" : "document.getElementById(\"glyph_#{@selectedGlyph}\").nextSibling" %>

    function highlightGlyph(obj) {
        // Unhighlight all other glyphs and factoid containers
        if(prevGlyph != undefined) {
            prevGlyph.classList.remove("selectedGlyph");
            prevFactoid.classList.remove("selectedGlyph");
            prevGlyph.parentNode.classList.remove("unSet");
        }

        // Highlight the selected glyph and factoid container
        prevGlyph = obj;
        prevFactoid = obj.nextSibling;
        obj.classList.add("selectedGlyph");
        prevFactoid.classList.add("selectedGlyph");

        // Set the parent glyphSet to be blank
        prevGlyph.parentNode.classList.add("unSet");
    }

    highlightGlyph(document.getElementById("glyph_<%=@selectedGlyph%>"))

</script>

