<h2>Home Page</h2>
<br />

<!-- The Hieroglyph Panel-->
<!--TODO Dynamic Generation -->
<div id="glyphPaneContainer">
        <div class="glyphPairPane">
            <%= image_tag("glyphs/longcount/isig.png", class: "glyphPairFull", alt: "ISIG")%>
            <!--<%= image_tag("glyphs/haab/kumku.png", alt: "Kumk'u")%>-->
        </div>

        <div class="glyphPairPane">
            <%= image_tag("glyphs/numerals/0.png", class: "glyphPairL1", alt: "0")%>
            <%= image_tag("glyphs/longcount/baktun.png", alt: "B'ak'tun")%>
        </div>

        <div class="glyphPairPane">
            <%= image_tag("glyphs/numerals/0.png", class: "glyphPairL1", alt: "0")%>
            <%= image_tag("glyphs/longcount/katun.png", alt: "K'atun")%>
        </div>

        <div class="glyphPairPane">
            <%= image_tag("glyphs/numerals/1.png", class: "glyphPairL1", alt: "0")%>
            <%= image_tag("glyphs/longcount/tun.png", alt: "Tun")%>
        </div>

        <div class="glyphPairPane">
            <%= image_tag("glyphs/numerals/10.png", class: "glyphPairL2", alt: "0")%>
            <%= image_tag("glyphs/longcount/winal.png", alt: "Winal")%>
        </div>

        <div class="glyphPairPane">
            <%= image_tag("glyphs/numerals/18.png", class: "glyphPairL4", alt: "0")%>
            <%= image_tag("glyphs/longcount/kin.png", alt: "K'in")%>
        </div>

        <div class="glyphPairPane">
            <%= image_tag("glyphs/numerals/14.png", class: "glyphPairL3", alt: "14")%>
            <%= image_tag("glyphs/tzolkin/ajaw.png", alt: "Ajaw")%>
        </div>

        <div class="glyphPairPane">
            <%= image_tag("glyphs/numerals/8.png", class: "glyphPairL2", alt: "8")%>
            <%= image_tag("glyphs/haab/kumku.png", alt: "Kumk'u")%>
        </div>
</div> 


<!-- Test code for rendering the Maya date in text form -->
<h3>Today's Mayan Date is:</h3>
<%="#{@test_date.long_count.reverse} or #{@test_date.mayan_day} days since creation,"%>
<br>
<%= "iteration #{@test_date.tzolkin_trecena} of the #{@test_date.tzolkin_name} cycle, day #{@test_date.haab_day} of the month of #{@test_date.haab_name}." %>
<p style="font-size:0.75em; font-style:italic">Hieroglyphs coming soon!</p>
